<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::body}, 'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets List</title>
</head>
<body>
    <h2 th:text="'List of Vets'">List of Vets.</h2>
    <table id="vets" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Specialties</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.getId()}">id</td>
                <td th:text="${vet.getFirstName()} + ' ' + ${vet.getLastName()}">name</td>
                <td th:each="spec : ${vet.getSpecialties()}" th:text="${spec.getName()}">specialties</td>
            </tr>
        </tbody>
    </table>
</body>
</html>